.card{
    width: 15rem ;
   box-shadow: 3px 3px 3px 3px #736f6f;
   height: 18rem;
   }
   #carCard{
       display: flex;
       width:90%;
       flex-wrap: wrap;
       margin-left: 70px;
       justify-content: space-between;
       gap:20px;
   }
   #cardBody{
       display: flex;
       flex-wrap: wrap;
      height: 150px;
      width: 15rem;
     
   }
   .card-body{
   padding-left:1px;
   }
   #milage{
       color: rgb(77, 219, 77);
       
   }
   #person{
       color: rgb(111, 101, 101);
       font-weight: 800;
       margin:0;
       position: relative;
       bottom:5px;
       border: 1px solid rgb(152, 142, 142);
       width:160px;
       background-color: rgb(79, 79, 226);
       color: rgb(229, 235, 241);
       border-radius: 2px;
       text-align: center;
       font-family: sans-serif;
   }
   #name-container{
       
      display: flex;
      flex-direction:column;
      height:max-content;
      position: relative;
      bottom: 40px;
   }
   #name{
       color: rgb(111, 105, 105);
       font-size:larger;
       font-family: sans-serif;
       margin-left:0 ;
       position: relative;
       top:45px;
       border: 1px solid rgb(185, 178, 178);
       border-radius: 5px;
       width:100px;
       
   }
   #milage{
       margin-left:120px;
       border: 1px solid rgb(191, 180, 180);
       width:max-content;
       border-radius: 5px;
   }
   
   #seater{
       width:15rem;
       height: 30px;
   }
   #booking{
       width:15rem;
       height: 30px;
       border: 1px solid rgb(178, 172, 172);
       position: relative;
       bottom: 42px;
       background-color: rgb(79, 79, 226);
       border-radius: 5px;
   }
   #fare{
       color: aliceblue;
   }
   #book{
       color: rgb(224, 230, 235);
   }
   