#header{
    width:100%;
    height: 50px;
    background-color:rgba(15, 26, 72, 0.9);
}
#form{
    display:flex;
   
}
.Origin{
    margin-top:10px;
    align-items: center;
    border:1px solid rgb(182, 173, 173);
    
}
#modify{
    background-color: rgba(94, 94, 202, 0.981);
    border-radius: 20px;
    width:20rem;
    margin-left: 15px;
    height: fit-content;
    color: aliceblue;
}
.arrow{
    padding-top: 5px;
}