.Logo {
    width: 120px;
    margin-left: 50px;
    margin-top: 10px;
}

.navbar{
    margin-top: 55px;
}

.glass{
    position: fixed;
    height: 8vh;
    width: 98vw;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    transform: translate(2px, 2px);
    border-radius: 2px;
}